.mainclass{
	display:flex;
justify-content: center;

}
.sidebar {
	width: 50%;
	height: vh;
	border: 1px solid #2547;
	border-radius:10px;
	background:grayscale
}
.Addproperty{
	max-width: 100%;
	background: #f4f7f8;
	padding: 20px;
	background: #f4f7f8;
	border-radius: 8px;
}
.form{
	width: 100%;
}
.Addproperty label {
	display: block;
	margin-bottom: 8px;
}
.Addproperty input[type="text"],
.Addproperty input[type="email"],
.Addproperty input[type="number"],
.Addproperty select {
	background: rgba(207, 171, 171, 0.1);
	border: none;
	border-radius: 4px;
	font-size: 15px;
	margin: 0;
	outline: 0;
	padding: 10px;
	width: 100%;
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	background-color: #e8eeef;
	color:#000000;
	margin-bottom: 30px;
}

.Addproperty select:focus{
	background: #d2d9dd;
}
.Addproperty select{
	-webkit-appearance: menulist-button;
	height:35px;
}

.Addproperty input[type="submit"],
.Addproperty input[type="button"]
{
	position: relative;
	display: block;
	padding: 19px 39px 18px 39px;
	color: #FFF;
	margin: 0 auto;
	background: #1abc9c;
	font-size: 18px;
	text-align: center;
	font-style: normal;
	width: 100%;
	border: 1px solid #16a085;
	border-width: 1px 1px 3px;
	margin-bottom: 10px;
}
